<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
    <form action="/posts" method="POST">
        <fieldset>
            <legend>Make a Post</legend>
            <label for="textContent">Post Content</label>
            <input type="text" name="textContent">
            <input type="submit" value="Submit Post">
        </fieldset>
    </form>
</body>
</html>